$white: #fff;
$lightGrey: #F7F8FA;

html,body {
  height:100%;
  margin:0;
  font-family: 'Open Sans Condensed', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


// html>body .intro {
//   height:auto;
// }

.features
{
	background-color:$lightGrey;
	width:100%;
  text-align: center;
	ul
	{
		list-style-type: none;
		margin:0 auto;
		padding:0;
	}
	li
	{
		display: inline-block
	}
  .wrapper
  {   
      text-align: center;
  }
  .image-container
  {
    text-align: left;
      display: inline-block;
  }
}

.intro {
  background-color:$white;
  height:100%;
  min-height:100%;/*for mozilla*/
  text-align:center;
  white-space: nowrap;
  &:before
  {
  	content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%; 
  }
  background: url('../img/flappy-bird-background.jpg') no-repeat center center fixed;;
  background-repeat: no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1
  {
    padding-bottom:.25em;
    font-size:4em;
  }
  p
  {
    font-size:2em;
  }
}

.content
{
	display: inline-block;
    vertical-align: middle;
    width: 100%;
    z-index: 10;
    color: $white;
    &:before
  {
  	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.4);
  }
}

.landing-text
{
	z-index:99;
	color:$lightGrey;
	position:relative;
}